# Get External IP / local IPs
alias ip="curl ipinfo.io/ip"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"
alias speedtest="wget -O /dev/null http://speedtest.wdc01.softlayer.com/downloads/test10.zip"

# Quickly serve the current directory as HTTP
alias serve='ruby -run -e httpd . -p 8000'  # Or python -m SimpleHTTPServer :)

alias agu='sudo apt-get update -y'
alias agg='sudo apt-get upgrade -y'
alias agd='sudo apt-get dist-upgrade -y'
alias aar='sudo apt autoremove'
alias aac='sudo apt-get autoclean'
alias dru='sudo do-release-upgrade'
alias drud='sudo do-release-upgrade -d'
alias maj='agu && agg && agd && aar && aac && dru'

alias agc='sudo apt-get clean'
alias rmct='sudo rm -rf ~/.cache/thumbnails/*'
alias dothecleaning='agc && rmct'

alias et='gsettings set org.gnome.desktop.peripherals.touchpad send-events enabled'
alias dt='gsettings set org.gnome.desktop.peripherals.touchpad send-events disabled'

alias get_pass_login='history | cut -c 8- | tail -n 1 | sed -r "s/^pass\s.+\/(.+) \-c$/\1/"'
alias pl='echo -n $(get_pass_login) | xclip -selection clipboard'

alias be='bundle exec'
alias rc='be rails c'

alias gitretrievelost='git fsck --unreachable | grep commit | cut -d ' ' -f3 | xargs git log --merges --no-walk'
alias dup='git checkout develop && git fetch origin && echo && git log --oneline --decorate -20 develop..origin/develop && echo && git pull --quiet && git checkout -'
alias mup='git checkout master && git fetch origin && echo && git log --oneline --decorate -20 master..origin/master && echo && git pull --quiet && git checkout -'
alias grid='!git rebase -i $(git merge-base develop HEAD)'
alias grim='!git rebase -i $(git merge-base master HEAD)'

alias dotfiles="/usr/bin/git --git-dir=$HOME/.dotfiles.git/ --work-tree=$HOME"
alias dfst="dotfiles status"
alias dfa="dotfiles add"
alias dfc="dotfiles commit"
alias dfc!="dotfiles commit -v --amend"
alias dfp="dotfiles push origin master"
alias dfp!="dotfiles push --force-with-lease origin master"
alias dfl="dotfiles log --oneline"

alias get_current_monitor="(xrandr --listmonitors | awk '\$1 == \"0:\" {print \$4}')"
alias br1="xrandr --output $(get_current_monitor) --brightness .1"
alias br2="xrandr --output $(get_current_monitor) --brightness .2"
alias br3="xrandr --output $(get_current_monitor) --brightness .3"
alias br4="xrandr --output $(get_current_monitor) --brightness .4"
alias br5="xrandr --output $(get_current_monitor) --brightness .5"
alias br6="xrandr --output $(get_current_monitor) --brightness .6"
alias br7="xrandr --output $(get_current_monitor) --brightness .7"
alias br8="xrandr --output $(get_current_monitor) --brightness .9"
alias br9="xrandr --output $(get_current_monitor) --brightness .9"
alias br10="xrandr --output $(get_current_monitor) --brightness 1"
alias br11="xrandr --output $(get_current_monitor) --brightness 1.1"
alias br12="xrandr --output $(get_current_monitor) --brightness 1.2"
