alias vi="vim"

# Get External IP / local IPs
alias ip="curl ipinfo.io/ip"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"
alias speedtest="wget -O /dev/null http://speedtest.wdc01.softlayer.com/downloads/test10.zip"

alias get_pass_login='history | cut -c 8- | tail -n 1 | sed -r "s/^pass\s.+\/(.+) \-c$/\1/"'
alias pl='echo -n $(get_pass_login) | xclip -selection clipboard'
passwin() {
  # example : `passwin Email/jproy@mail.fr &`
  # & is used to execute function in background */

  file_path="/mnt/windows/$(pass $1)"
  touch ${file_path}
  sleep 15
  rm -f ${file_path}
}

passwin2() {
# example : `passwin Email/jproy@mail.fr &`
# & is used to execute function in background */

  file_path="/mnt/windows/pwd"
  echo $1
  cat $1 > file_path
  sleep 15
  rm -f file_path
}

alias b="bundle"
alias be='b exec'
alias rc='be rails c'
alias gctags='gem install gem-ctags ; gem ctags ; ctags -R --languages=ruby --exclude=.git --exclude=log --exclude=tmp .'

alias tn="tmux new -s tmux"

alias doco="docker-compose"

alias gitretrievelost='git fsck --unreachable | grep commit | cut -d ' ' -f3 | xargs git log --merges --no-walk'
alias dup='git checkout develop && git fetch origin && echo && git log --oneline --decorate -20 develop..origin/develop && echo && git pull --quiet && git checkout -'
alias mup='git checkout master && git fetch origin && echo && git log --oneline --decorate -20 master..origin/master && echo && git pull --quiet && git checkout -'
alias grid='!git rebase -i $(git merge-base develop HEAD)'
alias grim='!git rebase -i $(git merge-base master HEAD)'

alias dotfiles="/usr/bin/git --git-dir=$HOME/.dotfiles.git/ --work-tree=$HOME"
alias dfst="dotfiles status"
alias dfa="dotfiles add"
alias dfc="dotfiles commit"
alias dfc!="dotfiles commit -v --amend"
alias dfp="dotfiles push origin master"
alias dfp!="dotfiles push --force-with-lease origin master"
alias dfl="dotfiles log --oneline"
